<!DOCTYPE html>
<html lang="sv"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/layouttemplate"
      data-theme="light">


<th:block layout:fragment="extraHead">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@event-calendar/build@1.5.0/event-calendar.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@event-calendar/build@1.5.0/event-calendar.min.js"></script>
    <script src="/js/modal.js"></script>

</th:block>

<!--    <header>-->
<!--        <div class="content">-->
<!--            <div class="btn-left">-->
<!--                <button class="btn btn-blue">-->
<!--                    <span class="fas fa-plus mr-2"></span>-->
<!--                    New Task-->
<!--                </button>-->
<!--            </div>-->
<!--            <div class="btn-right">-->
<!--                <button class="btn btn-sec left-radius">Share</button>-->
<!--                <button class="btn btn-sec right-radius">Export</button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </header>    -->
<div layout:fragment="mainContent">

    <div class="row-box">
        <div class="col-boxes-1">
            <div class="col-table">
                <div class="table-section">
                    <div class="header-table">
                        <h2>Alla hundar</h2>
                        <!--                        <a href="#">see all</a>-->
                    </div>

                </div>

            </div>

        </div>
    </div>

    <a class="listbutton" href="/newcustomer">
        <span class="fas fa-plus mr-2"></span>
        Ny hund
    </a>
    <br/><br/>

    <form method="GET" th:action="@{'/admin/dogs'}">
        Search:
        <input type="text" name="searchString" value="" />
        <button type="submit">Search</button>
    </form>

    <table class="tabulator-table">
        <thead>
        <tr class="tabulator-row">
            <th class="tabulator-cell">
                Name

                <!--
                <a th:href="@{'/admin/dogs?pageNo=' + (${pageNo} != null ? ${pageNo} : 1) + '&pageSize=10&sortCol=name&sortOrder=asc&searchString=' + (${searchString} != null ? ${searchString} : '')}">
                    <i class="fa-solid fa-arrow-up-a-z"></i>
                </a>
                -->
                <a th:href="@{'/admin/dogs?pageNo=' + ${pageNo != null ? pageNo : 1} + '&pageSize=10&sortCol=name&sortOrder=asc&searchString=' + ${searchString != null ? searchString : ''}}">
                    <i class="fa-solid fa-arrow-up-a-z"></i>
                </a>

                <a th:href="@{'/admin/dogs?pageNo=' + ${pageNo != null ? pageNo : 1} + '&pageSize=10&sortCol=name&sortOrder=desc&searchString=' + ${searchString != null ? searchString : ''}}">
                    <i class="fa-solid fa-arrow-down-z-a"></i>
                </a>

            </th>

            <th>
                Breed
                <a th:href="@{'/admin/dogs?pageNo=' + ${pageNo != null ? pageNo : 1} + '&pageSize=10&sortCol=breed&sortOrder=asc&searchString=' + ${searchString != null ? searchString : ''}}">
                    <i class="fa-solid fa-arrow-up-a-z"></i>
                </a>

                <a th:href="@{'/admin/dogs?pageNo=' + ${pageNo != null ? pageNo : 1} + '&pageSize=10&sortCol=breed&sortOrder=desc&searchString=' + ${searchString != null ? searchString : ''}}">
                    <i class="fa-solid fa-arrow-down-z-a"></i>
                </a>
            </th>
            <th>Age
                <a th:href="@{'/admin/dogs?pageNo=' + ${pageNo != null ? pageNo : 1} + '&pageSize=10&sortCol=age&sortOrder=asc&searchString=' + ${searchString != null ? searchString : ''}}">
                    <i class="fa-solid fa-arrow-up-a-z"></i>
                </a>

                <a th:href="@{'/admin/dogs?pageNo=' + ${pageNo != null ? pageNo : 1} + '&pageSize=10&sortCol=age&sortOrder=desc&searchString=' + ${searchString != null ? searchString : ''}}">
                    <i class="fa-solid fa-arrow-down-z-a"></i>
                </a>
            </th>
            <th>Size
                <a th:href="@{'/admin/dogs?pageNo=' + ${pageNo != null ? pageNo : 1} + '&pageSize=10&sortCol=size&sortOrder=asc&searchString=' + ${searchString != null ? searchString : ''}}">
                    <i class="fa-solid fa-arrow-up-a-z"></i>
                </a>

                <a th:href="@{'/admin/dogs?pageNo=' + ${pageNo != null ? pageNo : 1} + '&pageSize=10&sortCol=size&sortOrder=desc&searchString=' + ${searchString != null ? searchString : ''}}">
                    <i class="fa-solid fa-arrow-down-z-a"></i>
                </a>
            </th>
            <th>Price
                <a th:href="@{'/admin/dogs?pageNo=' + ${pageNo != null ? pageNo : 1} + '&pageSize=10&sortCol=price&sortOrder=asc&searchString=' + ${searchString != null ? searchString : ''}}">
                    <i class="fa-solid fa-arrow-up-a-z"></i>
                </a>

                <a th:href="@{'/admin/dogs?pageNo=' + ${pageNo != null ? pageNo : 1} + '&pageSize=10&sortCol=price&sortOrder=desc&searchString=' + ${searchString != null ? searchString : ''}}">
                    <i class="fa-solid fa-arrow-down-z-a"></i>
                </a>
            </th>
            <th></th>
        </tr>

        </thead>
        <tbody id="tablerows">
        <tr th:each="dog: ${dogs}">
            <th th:text="${dog.getName()}"></th>
            <td th:text="${dog.getBreed()}"></td>
            <td th:text="${dog.getAge()}"></td>
            <td th:text="${dog.getSize()}"></td>
            <td th:text="${dog.getPrice()}"></td>
            <td>
                <a class="listbutton">Edit</a>
            </td>
        </tr>

        </tbody>
    </table>

    <div>
        <ul class="pagination" id="pager">
            <th:block th:each="i: ${#numbers.sequence(1, totalPages)}">
                <li th:if="${pageNo == i}" class="page-item active" th:text="${i}"></li>
                <li th:if="${pageNo != i}" class="page-item" >
                    <!-- <a class="page-link" th:href="@{|pageNo=${i}|}" th:text="${i}"></a> -->
                    <!-- <a class="page-link" th:href="@{|?searchString=${searchString}&pageNo=${i}|}" th:text="${i}"></a> -->
                    <!-- <a class="page-link" th:href="@{/admin/dogs(pageNo=${i})}" th:text="${i}"></a> -->
                    <a class="page-link" th:href="@{/admin/dogs(pageNo=${i}, pageSize=${pageSize}, sortCol=${sortCol}, sortOrder=${sortOrder}, searchString=${searchString})}" th:text="${i}"></a>
                </li>
            </th:block>

        </ul>
    </div>

</div>




</html>