<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <title>Please Log In</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h1>Logga in</h1>


<div th:if="${param.error}" class="error-message">
  Ogiltigt användarnamn eller lösenord. Försök igen.
</div>


<div th:if="${param.logout}">
  Du har loggats ut.
</div>
<div th:if="${param.registerSuccess}">
  Registreringen färdig. Logga in för att använda ditt konto.
</div>
<!-- Login form -->
<div class="form-container">
<form th:action="@{/auth/login}" method="post">
  <div>
    <input type="text" name="username" placeholder="Användarnamn" required />
  </div>
  <div>
    <input type="password" name="password" placeholder="Lösenord" required />
  </div>
  <div>
    <input type="submit" value="Logga in" />
  </div>
</form>
</div>

<p>Inget konto? <a th:href="@{/register}">Registrera dig här</a>.</p>

</body>
</html>
